{% extends "grade/layout.html" %}
{% load my_tags %}

{% block body %}
  <title>ประกาศคะแนนสอบ</title>
  <div class="w3-col m9">
    <div class="w3-margin w3-container w3-card w3-white w3-round w3-margin" style="height: 50px;"><br>
      <h4 class="thai-font font-black" style="margin-top: -0.4em;margin-left: 0.5em;">
        ประกาศคะแนนสอบ &emsp13;&#128226;
      </h4>
    </div>
    <br>
    <!-- search -->
  
    <div class="row" style="margin-left: 0.5em;">
      <div class="col-md-auto">
        <div class="w3-container w3-card w3-round baby-blue3"><br>
          <p class="thai-font size-17 font-black" style="margin-top: -0.4em;margin-left: 0.5em;">
            ค้นหา
          </p>
          <form method="post" action="{% url 'grade:search_subject' %}" class="form-inline d-flex ">
            {% csrf_token %}
            <input class="form-control thai-font" id="search_subject_key" name="search_subject_key" type="text" placeholder="โปรดใส่รหัสวิชา ..."
              style="width: 400px;">
            <button class="btn-circle" style="margin-left: 1em;" type="submit">
              <i class="fa fa-search"></i>
            </button>
          </form>
          <br>
        </div>
        <br>
      </div>
    </div>
    <!-- end serch -->
    <!-- ถ้ายังไม่มีการค้นหา -->
    {% if not search_subject_list%}
    <div class="w3-row-padding w3-container w3-card w3-round w3-margin red box-shadow-h" style="height: 60px;"><br>
      <p class="thai-font size-15 font-white" style="margin-left: 0.5em;">
        ไม่พบข้อมูลที่ท่านค้นหา
      </p>
    </div>
    {% else %}
    <!-- -->
    <!-- วิชาที่ค้นหาเจอ -->
    {% for search_subject in search_subject_list%}
    <div class="w3-card w3-round w3-margin tiffany-green box-shadow-h " style="height: auto;"><br>
      <div class="w3-container light-green " style="margin-left: 0.5em; margin-top: -1.5em; height: auto;">
          <a href="{% url 'grade:show_grade' search_subject.id %}" class=" ul-rm font-black font-black-h">
            <p class="thai-font size-18" style="margin-top: 1em;">
              {{search_subject.subject_id}} - SECTION {{search_subject.section}} &emsp;ปีการศึกษาที่ {{search_subject.semestre}}/{{search_subject.year}}
            </p>
          </a>
      </div>
    </div>
    {% endfor %}
    {% endif %}
    <!-- -->
    <!-- ประกาศ -->
    <div class="w3-container w3-card w3-white w3-round w3-margin scroller"><br>
      <h4 class="thai-font" style="margin-left: 0.5em;">รายวิชาที่ประกาศคะแนนแล้ว &emsp13;&#128204;</h4>
      <hr class="w3-clear">
      {% for grade_table in grade_table_list%}
      <p class="size-17" style="margin-bottom: -0.5em;">
        <a href="{% url 'grade:show_grade' grade_table.id %}" class=" ul-rm font-black font-black-h thai-font ">
          <i class="fa fa-book font-midnight-blue-h" style="font-size: 16px; margin-right: 1em;"></i>
          <strong class="font-midnight-blue-h">{{grade_table.subject_id}} - SECTION {{grade_table.section}} &emsp;ปีการศึกษาที่ {{grade_table.semestre}}/{{grade_table.year}}</strong>
        </a>
        <a href="{% url 'grade:show_grade' grade_table.id %}" class="btn-read pull-right ul-rm size-13 font-charcoal-h ">CLICK</a>
      </p>
      <br>
      <p id="desc" class="thai-font size-15" style="margin-left: 2.3em;">หมายเหตุ: {{grade_table.desc}}</p>
      <hr>

      {% endfor %}

    </div>
    <!-- end document -->
      
    {% for table in output%}
    <table>
      <tr>
        {% for header in table.header_list %}
        <th>{{ header }}</th>
        {% endfor %}
      </tr>
      {% for grade in table.grade_list %}
      <tr>
        {% for header in table.header_list %}
        <td>{{ grade|load_grade:header }}</td>
        {% endfor %}
    
      </tr>
      {% endfor %}
    </table>
    <hr>
    {% endfor %}

  </div>
<script>
  document.getElementById("serchYear").placeholder = new Date().getFullYear();
</script>
{% endblock %}

    <!-- End Grid -->
    <!-- End Page Container -->
  <!-- <script>
    var value = document.getElementById("user_id").innerHTML
    console.log(value);
  
    fetch('http://127.0.0.1:8000/api/v1/student?std_code=' + value, {
      headers: {
        'Application-Key': 'rootroot'
      }
    })
      .then(res => {
        return res.json();
      })
      .then(data => {
        console.log(data)
        const title_th = data['output'][0]['tittle_name_lth']
        const fname_th = data['output'][0]['fname_th'];
        const lname_th = data['output'][0]['lname_th'];
        const major_th = data['output'][0]['major_th'];
        const department_th = data['output'][0]['department_th'];
        const email = data['output'][0]['email'];
        document.querySelector('#title').insertAdjacentHTML('beforeend', title_th);
        document.querySelector('#firstname').insertAdjacentHTML('beforeend', fname_th);
        document.querySelector('#lastname').insertAdjacentHTML('beforeend', lname_th);
        document.querySelector('#major').insertAdjacentHTML('beforeend', major_th);
        document.querySelector('#email').insertAdjacentHTML('beforeend', email);
        document.querySelector('#depart').insertAdjacentHTML('beforeend', department_th);
      })
      .catch(error => console.log(error));
  </script> -->
