{% extends "web_grade/layout.html" %}

{% block body %}
<style>
  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 95.5%;
    margin-top: 0.5em;
    margin-left: 1.25em;
  }

  td,
  th {
    border: 1px solid #dddddd;
    text-align: left;
    padding-left: 1em;
    padding-top: 8px;
    padding-bottom: 8px;
  }

  tr:nth-child(even) {
    background-color: #f0f0f0;
  }
</style>
<title>ประกาศคะแนนสอบ</title>

{% if grade_table.grade_list != "None" %}
<div class="w3-col m9">
    <div class="w3-margin w3-container w3-card w3-white w3-round w3-margin" style="height: 50px;"><br>
      <h4 class="thai-font font-black" style="margin-top: -0.4em;margin-left: 0.5em; ">
          วิชา {{grade_table.subject_name}} - {{grade_table.subject_id}}
      </h4>
    </div>
    <div class="w3-card w3-round w3-margin tiffany-green box-shadow-h " style="height: auto;"><br>
        <div class="w3-container white " style="margin-left: 0.5em; margin-top: -1.5em; height: auto;">
            <div class="container">
                <table>
                    <tr>
                      {% for header in grade_table.header_list %}
                      <th class="thai-font">{{ header }}</th>
                      {% endfor %}
                    </tr>
                    {% for grade in grade_table.grade_list %}
                    <tr>
                      {% for data in grade %}
                        <td class="thai-font">{{ data }}</td>
                      {% endfor %}
                    </tr>
                    {% endfor %}
                    <br>
                  </table>

            </div>
            <br>
            <p class="thai-font size-15"> หมายเหตุ: {{grade_table.desc}}</p>
            <span class="thai-font size-15" style="float: right;">อัปเดตล่าสุด {{grade_table.date}}</span>
            <i class="fa fa-refresh" style="font-size: 13px; margin-right: 1em; float: right; margin-top: 0.4em;"></i>
            <br>
        </div>
    </div>
</div>
{% else %}
  <div class="w3-col m9">
    <div class="w3-card w3-round w3-margin tiffany-green box-shadow-h " style="height: auto;"><br>
      <div class="w3-container baby-green " style="margin-left: 0.5em; margin-top: -1.5em; height: auto;">
        <div class="size-18" style="margin-top: 1em; margin-left: 1em;">
          <p class="thai-font">ไม่พบคะแนนของท่านในวิชานี้ หากมีข้อสงสัยโปรดติดต่ออาจารย์ประจำวิชา</p>
        </div>
      </div>
    </div>
  </div>
{% endif %}

{% endblock %}



